/ Footer
%footer#footer
  %ul.icons
    %li
      %a.icon.fa-github{:href => "https://github.com/ZhmAA"}
        %span.label Github
    %li
      %a.icon.fa-linkedin{:href => "https://www.linkedin.com/in/andrey-zhmaylo-25ba9396?trk=nav_responsive_tab_profile"}
        %span.label Linkedin
  %ul.copyright
    %li &copy; Andrey Zhmaylo
    %li Ruby on Rails