/ Header
%header#header
  %a.image.avatar{:href => "/"}
    %img{:alt => "", :src => "/images/avatar.jpg"}/
  %h1
    %strong Andrey Zhmaylo
    %br/
    %span#head_title
      Junior Ruby on Rails developer
    %br/
  / Nav
  %nav#nav
    %ul
      %li
        = link_to root_path(anchor: 'about_me'), id: "about_me-link", :class => "skel-layers-ignoreHref" do
          %span.icon.fa-user About Me
      %li
        = link_to root_path(anchor: 'portfolio'), id: "portfolio-link", :class => "skel-layers-ignoreHref" do
          %span.icon.fa-th Portfolio
      %li
        = link_to root_path(anchor: 'contact'), id: "contact-link", :class => "skel-layers-ignoreHref" do
          %span.icon.fa-envelope Contacts