%header
  %h1 About me
  %section#four
    %p I am a Ruby on Rails developer. I have developed a few websites using RoR, HTML and CSS,including sites for small businesses and some personal projects. 
    %h2 Professional skills
    .row
      .12u{:class => "12u$(xsmall)"}
        %ul.alt
          %li Basic technologies: Ruby on Rails, HTML 5, CSS 3, JS
          %li DB: PostgreSQL(Basic skills), SQLite (Basic skills)
          %li OS: Windows, Ubuntu
          %li CMS: Wordpress, Bitrix, ModX, Joomla, CorsoCMS, ImageCMS, etc.
          %li VCS: Git
    %h2 Additional technologies/Gems used:
    .row
      .12u{:class => "12u$(xsmall)"}
        %ul.alt
          %li Front-end: HAML, Bootstrap
          %li Admin Panel: Rails Admin, Active Admin
          %li Authentication: Devise, Sorcery
          %li Testing: RSpec, Capybara, FactoryGirl
          %li Images upload: Dragonfly, Carrierwave (including the use of Amazon S3)
          %li Editors: TinyMCE. CKEditor
          %li Gallery: Fancybox
          %li Others: Nokogiri, Simple Form, Mail Form, I18n, Whenever, Friendly_id
    %h2 Related resources:
    .row
      .12u{:class => "12u$(xsmall)"}
        %ul.alt
          %li Travis, CodeClimate, NewRelic, MailGun, Rollbar
    %h2 Education
    .row
      .12u{:class => "12u$(xsmall)"}
        %ul.alt
          %li V.N.Karazin Kharkiv National University, chemical faculty
          %li Ruby on Rails courses from mkdev.me
          %li Self-learning
    %h2 Languages
    .row
      .12u{:class => "12u$(xsmall)"}
        %ul
          %li Українська (рідна)
          %li Русский (родной)
          %li Английский (pre-intermediate)
    %h2 What I want to explore in the near future
    %blockquote First of all bla bla bla. RoR, AngularJS

