%header
  %h1 About me
  %section#four
    %p
      %span.image.left>
        %img{:alt => "", :src => "images/avatar.jpg"}/
      I am a Ruby on Rails developer with over 2 years experience in web-dev. I have developed a few websites using RoR, HTML and CSS, including sites for small businesses and some personal projects. I also have some experience in the following areas: JS, CMS (WordPress, Bitrix, Joomla, etc.), OOP, copyright.

  
    %h2 What I want to explore in the near future
    %blockquote First of all bla bla bla. RoR, AngularJS
    
    %h2 Technologies
    .row
      .6u{:class => "12u$(xsmall)"}
        %h3 BackEnd
        %ul.alt
          %li Ruby on Rails
        %h3 FrontEnd
        %ul.alt
          %li HTML5
          %li CSS3
          %li JS
        %h3 VCS
        %ul.alt
          %li Git
        %h3 DB
        %ul.alt
          %li PostgreSql
    %h2 Using gems
    .row
      .6u{:class => "12u$(xsmall)"}
        %h3 Admin Panel
        %ul
          %li Active Admin
          %li Rails Admin
        %h3 Tests
        %ul
          %li RSpec
          %li Capybara
          %li FactoryGirl
        %h3 Upload images
        %ul
          %li Carrierwave
          %li Dragonfly

        
    