.box.alt
  .row.uniform{:class => "50%"}
    %div{:class => "12u$"}
      %span.image.fit
        = image_tag @project.image.url
%a.button.special{:href => @project.projecturl } Link to site
%h1= @project.name
%p= @project.description.html_safe
