/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


img {
    display: block;
    opacity: 1;
    -webkit-transform: scale(1,1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 450ms;
    -moz-transform: scale(1,1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 450ms;
}
img:hover {
    opacity: .95;
    -webkit-transform: scale(1.05,1.05);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 450ms;
    -moz-transform: scale(1.05,1.05);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 450ms;
}

/*.work-item .image-holder {
    display: block;
    opacity: 1;
    -webkit-transform: scale(1,1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 450ms;
    -moz-transform: scale(1,1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 450ms;
}
.work-item .image-holder:hover {
    opacity: .9;
    -webkit-transform: scale(1.07,1.13);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 450ms;
    -moz-transform: scale(1.07,1.13);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 450ms;
}*/

/* Work Item */

    .work-item .image-holder {
      position: relative;
    }

    .work-item .image-holder:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 0.35em;
      background: url("images/overlay.png");
      z-index: 2;
      opacity: 0;
      -moz-transition: opacity 0.2s ease-in-out;
      -webkit-transition: opacity 0.2s ease-in-out;
      -ms-transition: opacity 0.2s ease-in-out;
      transition: opacity 0.2s ease-in-out;
    }

    .work-item .image-holder:hover:before {
      opacity: 1;
    }

    .work-item .image-holder img {
      position: relative;     
      width: 100%;
      height: auto;
      border-radius: 0.35em;
      display: block;
      padding-bottom: 20px;
    }

    .work-item .image-holder:hover .link-holder {
      opacity: 1;
    }   

    .work-item .link-holder {
      position: absolute;
      z-index: 3;
      top: 50%;
      margin-top: -17px;
      left: 0;
      width: 100%;
      text-align: center;
      opacity: 0;     
      -moz-transition: opacity 0.2s ease-in-out;
      -webkit-transition: opacity 0.2s ease-in-out;
      -ms-transition: opacity 0.2s ease-in-out;
      transition: opacity 0.2s ease-in-out;       
    }


    .work-item .link-holder a {
      display: inline-block;
      vertical-align: middle;    
      width: auto;
      padding: 0 1.5em;
      margin: 0 5%;
      border: solid 3px rgba(74, 113, 140, 0.7);
      border-radius: 0.35em;
      color: #4a718c;
      font-size: 0.9em;
      font-weight: 400;
      line-height: 2.25em;
      text-decoration: none;
      white-space: nowrap;
      opacity: .6;
      -moz-transition: opacity 0.2s ease-in-out;
      -webkit-transition: opacity 0.2s ease-in-out;
      -ms-transition: opacity 0.2s ease-in-out;
      transition: opacity 0.2s ease-in-out;
    }

    .work-item .link-holder a:hover {
      opacity: 1;
      color: #fff !important;
    }

/*Contact us form field*/
.hidden {
  display: none;
}

label {
  display: none;
}

/*Pagination styles*/
    
    .pagination {
        margin-top: 30px;
        text-align: center;
    }

    .pagination > a, 
    .pagination > span,
    .pagination > em {

        background-color: #fff;
        border: 1px solid #ddd;
        color: #49bf9d;
        line-height: 1.42857;
        margin-left: -1px;
        padding: 6px 12px;
        position: relative;
        text-decoration: none;
    }

    .pagination > a:hover,
    .pagination > a:focus,
    .pagination > span:hover,
    .pagination > span:focus {

        background-color: #eee;
        border-color: #ddd;
        color: #23527c;
     }

    .pagination > em, 
    .pagination > em:focus, 
    .pagination > em:hover {
    
        background-color: #49bf9d;
        border-color: #49bf9d;
        color: #fff;
        cursor: default;
        z-index: 2;
    }

/*header title*/

#head_title {
  display: block;
}    